.paragraph {
    font-family: 'elza-narrow', sans-serif;
    font-size: clamp(1rem, 3vw, 2.5rem);
    font-weight: 400;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 20% 20% 30% 20%;
    .word{
        margin-right: 5px;
        position: relative;

        .shadow {
            position: absolute;
            opacity: 0.1;
        }
    }

}

.paragraph-graphic {
    position: absolute;
    bottom: -200px;
    left: 0;
}

.paragraph-container {
    position: relative;
}