svg {
    width: 100%;
    scale: 130%;
}

text {
    font-family: 'Zen dots', sans-serif;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.text-name {
    font-size: 4rem;
    text-transform: uppercase;
}

.text-location {
    font-size: 2rem;
}

.text-year {
    font-size: 4rem;
}


