svg {
    width: 100%;
    scale: 130%;
}

text {
    font-family: 'Zen dots', sans-serif;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.text-name, .flag {
    font-size: 4rem;
    text-transform: uppercase;
}

.text-location {
    font-size: 2rem;
}

.est {
    font-size: 2rem;
}

.text-year {
    font-size: 4rem;
    animation: flicker 3s linear infinite;

}

.text-name {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    animation: flicker 3s linear infinite;
  }
  
  @keyframes flicker {
    0% { opacity: 1; }
    5% { opacity: 0.8; }
    10% { opacity: 1; }
    15% { opacity: 0.9; }
    20% { opacity: 1; }
    25% { opacity: 0.6; }
    30% { opacity: 1; }
    100% { opacity: 1; }
  }
  
.speed-graphic {
    position: absolute;
    width: 10%;
}